Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

Exercise 4 - Create a markdown cell to list data science languages

Some of the popilar languages that data Scientists use are:


1.   Python
2.   R
3.   SQL
4.   Julia

Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Sci-kit learn
4. Matplotlib
5. Beautiful soup

Exercise 6 - Create a markdown cell with a table of Data Science tools

|Data Science tools|
|--------|
|Anaconda|
|R-studio|
|Google Colab|

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

Exercise 8 - Create a code cell to multiply and add numbers

In [1]:
(3*4)+5
# This is a simple arithmetic expression to multiply then add integers.

17

Exercise 9 - Create a code cell to convert minutes to hours

In [2]:
200/60
# This will convert 200 minutes to hours by dividing by 60

3.3333333333333335

Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**
* Creat an notebook file
* List popular languages used in data science
* List the popular data science libraries
* Create ordered and un-ordered lists
* Create tables
* Write markdown text

Exercise 11 - Create a markdown cell to indicate the Author's name

##Author
Habbert Mukubya